<div class="row">
  <!-- left panel -->
  <section class="container col-md-3">
    <div class="well" style="text-align: center;">
      <img src="img/headshot.png" alt="Head shot of Jason Hatfield">
      <h2>My Work</h2>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#/my-work/design">Design</a></li>
      <li><a href="#/my-work/sketching">Sketching</a></li>
      <li><a href="#/my-work/animation">Animation</a></li>
      <li class="active"><a href="#/my-work/video-production">Video Production</a></li>
    </ul>
  </section>

  <!-- right panel -->
  <section class="col-md-9">
    <h1>Video Production</h1>
  </section>
</div>