<div class="row">
    <!-- left panel -->
    <section class="container col-md-3">
        <div class="well" style="text-align: center;">
            <img src="img/headshot.png" alt="Head shot of Jason Hatfield">

            <h2>About Me</h2>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#/about/biography">Short Biography</a></li>
            <li><a href="#/about/letter">Cover Letter</a></li>
            <li><a href="#/about/resume">Resume</a></li>
            <li><a href="#/about/contact">Contact</a></li>
        </ul>
    </section>

    <!-- right panel -->
    <section class="col-md-9">
        <h1>Short Biography</h1>

        <p>
            My name is Jason Hatfield, I was born XXXX XX, XXXX. Ever since I was a small child I enjoyed colouring,
            drawing, writing, and creating new things. Alongside my passion for art, I was also really interested in
            becoming an Entomologist (a scientist that studies bugs). It wasn’t until 2008-2009, during my grade 7 year
            at EPEC (Eastern Passage Education Centre), that I became solely dedicated to my artwork.
        </p>

        <p>
            I was interested in graffiti art at the time, not on buildings, but on paper. I would use pencil, coloured
            pencil, and marker to create words and / or names for myself and others. This is when I first realized that
            people were actually interested in what I had to offer artistically. I remember one of my peers saying; “He
            is really good, how long has he been doing this?” This was very inspiring for me because not only had I not
            been doing it long, the classmate that had said this was also into drawing graffiti fonts at the time.
        </p>

        <p>
            Around midyear of grade 7, I began to draw anything that I thought was interesting. For example, we were
            talking about Neanderthal’s one day in science class, so I went home, looked up an image of a Neanderthal,
            and drew it. This was a huge accomplishment of mine for it was my first attempt at ‘realism’.
        </p>

        <p>
            2009 – 2010 were the years of continuation. Throughout all of grade 8, I simply stuck with my graffiti fonts
            and at times, inspired pieces of ‘realistic’ attempts. I had almost no expansion of artistic knowledge.
            However, as a result of staying with what I knew, I was able to learn many new font styles, and ways to
            spread colour throughout a page.
        </p>

        <p>
            2010 – 2011, grade 9. This was when an art class was introduced to the school. Since I was in grade 9, I had
            to jump right in to the highest art they were teaching. This was fine, but not without challenge. I really
            loved learning all of the new art styles. This included; fine detail in pencil art, charcoal drawing,
            tape-sculptures, acrylic painting, and cooperative art projects.
        </p>

        <p>
            It was later in grade 9 that I was introduced to portraiture art by my art teacher, Ms. Jenson. Also, it was
            during this very year that I began creating Flash games, and I was very interested in video and photo
            editing. This new-found love distracted me from my artwork.
        </p>

        <p>
            2011 – 2012 is when I really became re-interested in my artwork through one of my biggest artist
            inspirations, Mr. Bruce Mactavish. He had brought up portraiture art once again, which brought back the
            feeling of passion I had the year prior.
        </p>

        <p>
            Along with finally getting into portraits, I also learned many other forms of art. This included; one-point
            perspective (I discovered two-point and three-point on my own from there), pastel work, watercolour
            painting, and clay sculpting. Mr. Mactavish was the one who had made me focus intensely on detail and actual
            technique.
        </p>

        <p>
            2012 – 2013 was another wide-spread amount of inspiration. Grade 11 in when I finally began painting for
            fun. I.B. art has definitely put me in the right mind set to discover who I am in terms of an artist. I
            continue my portrait art, however, I am now learning to do watercolour portraits, landscapes, acrylic
            portraits, landscapes, and writing about all of my experiences.
        </p>

        <p>
            Again, this was the year that I paid even more attention to detail and technique. I even purchased my own
            sketchbook to turn into a “Watercolour Study” book. I must tell you, I was deadest against never painting. I
            owe a lot of thanks to Ms. Kim Cain Simmons, Morgan Hewitt, and Ali Ellison. They are all inspirational
            artists, and I look up to all of them.
        </p>

        <p>
            I plan on mastering painting and drawing techniques, and getting into conceptual art and graphic design,
            post High School. I wish to go to NSCAD (Nova Scotia College of Art and Design) for graphic design and fine
            arts. I would love to continue with portraitures and landscapes, but I will learn much more than that. If
            time stops and waits for your mind to made, simply take your time.
        </p>
    </section>
</div>