<div class="row">
  <!-- left panel -->
  <section class="container col-md-3">
    <div class="well" style="text-align: center;">
      <img src="img/headshot.png" alt="Head shot of Jason Hatfield">
      <h2>About Me</h2>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#/about/biography">Short Biography</a></li>
      <li class="active"><a href="#/about/letter">Cover Letter</a></li>
      <li><a href="#/about/resume">Resume</a></li>
      <li><a href="#/about/contact">Contact</a></li>
    </ul>
  </section>

  <!-- right panel -->
  <section class="col-md-9">
    <h1>Cover Letter</h1>
  </section>
</div>