<div class="row">
  <!-- left panel -->
  <section class="container col-md-3">
    <div class="well" style="text-align: center;">
      <img src="img/headshot.png" alt="Head shot of Jason Hatfield">
      <h2>About Me</h2>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#/about/biography">Short Biography</a></li>
      <li class="active"><a href="#/about/letter">Cover Letter</a></li>
      <li><a href="#/about/resume">Resume</a></li>
      <li><a href="#/about/contact">Contact</a></li>
    </ul>
  </section>

  <!-- right panel -->
  <section class="col-md-9">
    <h1>Cover Letter</h1>
    <p>
      To whom it may concern,
    </p>
    <p>
      I am writing in hopes of obtaining a part-time job in which incorporates artistic, organizational, social, and leadership skills.
    </p>
    <p>
      I am very dedicated to all of my work, and I focus on both quality and quantity, to achieve a superbly-done outcome to all of my assigned tasks. I work well with others and am always willing to work with, and get to know, new people. I am open to new ideas and am always willing to try new things while taking in suggestions from groups. I am able to visualize a completed project / task and apply my artistic and organizational skills to obtain the desired outcome. The position I am applying for would use attributes that I had been able to obtain throughout the course of my life, such as; working in groups, listening to everyone’s opinion, organizing events and / or projects, applying artistic abilities to achieve a well-done result, and helping the entirety of the group(s) that I work with.
    </p>
    <p>
      Thank you for considering me for the position, I will follow up with an email.
    </p>
    <p>
      Respectfully yours,
    </p>
    <p>
      Jason Hatfield
    </p>
  </section>
</div>