<div class="row">
    <!-- left panel -->
    <section class="container col-md-3">
        <div class="well" style="text-align: center;">
            <img src="img/headshot.png" alt="Head shot of Jason Hatfield">

            <h2>About Me</h2>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/about/biography">Short Biography</a></li>
            <li><a href="#/about/letter">Cover Letter</a></li>
            <li class="active"><a href="#/about/resume">Resume</a></li>
            <li><a href="#/about/contact">Contact</a></li>
        </ul>
    </section>

    <!-- right panel -->
    <section class="col-md-9">
        <h1>Resume</h1>

        Education:
        Cole harbour District High School
        Cole Harbour, Nova Scotia
        2011 – Present
        Presently in Grade 11
        Extra-Curricular Activities / Volunteering:
        Teen Volunteer
        Ocean View Continuing Care Centre
        2011 - 2012
        Socialized with residents, Physiotherapy, BBQ’s, Indoor / Outdoor activities, Entertainment (Playing the Piano), Outings

        Drawing Commissions
        The Customer
        2012 – Present
        Sketch and shade portraits of people and / or animals for others.

        Babysitting (J & J Babysitting)
        Parents and Guardians
        2009 – Present
        Supervised Children, Fed Children, Put Children to Bed.


        CD Producer
        (“Taking Chances” – Rebecca Crewe)
        Donnie Crewe / Sheila Crewe / Rebecca Crewe
        2013 – Present
        Recorded CD audio, Digitally created CD inserts, cut inserts, purchase materials, put CD’s together, burn CD’s, sell CD’s.


        Interests and Hobbies:
        Drawing, Making Flash Animations, Making Flash Games, Video Editing, Writing Poetry, Writing Quotes, Playing Piano, Reading, Organization, Updating my Website, Collaborations in regards to Art and Design, Script Writing, Group film Projects
        Certificates and Licenses:
        Eastern Passage Education Centre – Honors Medal
        2008 – 09

        Eastern Passage Education Centre – Principals List
        2009 – 10

        Eastern Passage Education Centre – Principals List
        2010 – 11

        Eastern Passage Education Centre – P.E.B.S Award
        2010 – 11

        Ocean View Continuing Care Centre
        36 Hours
        2010 – 11



        References:


    </section>
</div>